<article class="mb-3">
    <h3>{{ title }}</h3>
    <div class="row mb-3 ml-auto">
        <div class="col">
            <h5>Courses</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'courses:courseitem-create' %}">Add Course</a></li>
            </ul>
        </div>
    </div>
    <div class="row mb-3 ml-auto">
        <div class="col">
            <h3>Filter</h3>
            <div class="row mb-3 ml-auto">
            </div>
        </div>
    </div>
</article>